{% extends 'nav.html' %}

{% block aboutpage %}style="color: #333; border-bottom: 3px solid #333;"{% endblock %}

{% block pagecontent %}

	<div class="section">
		<div class="header">Little Moments Video Company produces custom videography using the latest technology.</div>
	</div>
	<div class="section">
		<div class="section-title">
			<div class="title">ABOUT</div>
		</div>
		<div class="section-content">LMVC is a video production company dedicated to capturing the perfect moment. We use the latest technology to create artful & high quality videos for events, entertainment, & television.</div>
	</div>
	<div class="section">
		<div class="section-title">
			<div class="title">TEAM</div>
		</div>
		<div class="header team"><span>Meet the team:</span></div>
		<div class="section-content">
			<div class="team-person">
				<div class="pic" style="background-image:url('../images/person1.png');">&nbsp;</div>
				<div class="person">
					<div class="name">Michael Boyce</div>
					Founder & CEO
				</div>
			</div>
			<div class="team-person">
				<div class="pic" style="background-image:url('../images/person2.png');">&nbsp;</div>
				<div class="person">
					<div class="name">This Chick</div>
					County Nurse
				</div>
			</div>
			<div class="team-person">
				<div class="pic" style="background-image:url('../images/person3.png');">&nbsp;</div>			<div class="person">
					<div class="name">That Guy</div>
					Resident Hair Plugs
				</div>
			</div>
		</div>
	</div>

{% endblock %}