{% extends 'nav.html' %}

{% block contactpage %}style="color: #333; border-bottom: 3px solid #333;"{% endblock %}

{% block pagecontent %}

	<div class="section">
		<div class="header">We'd love to get to know you, too.<br />Reach out and further the conversation.</div>
	</div>

	<div class="section">
		<a class="section-title long" href="mailto:info@littlemomentsvideo.com">
			<div class="section-icon" style="background-image: url('../images/mail.svg');">&nbsp;</div>
			<div class="title">Send us an email</div>
		</a>
		<a class="section-title long" href="http://vimeo.com/michaelboyce" target="_blank">
			<div class="section-icon"  href="http://vimeo.com/michaelboyce" style="background-image: url('../images/vimeo.svg');">&nbsp;</div>
			<div class="title">View our past work</div>
		</a>
	</div>

{% endblock %}