<!DOCTYPE html>
<html lang="en">
  <head>

    <title>
      {% block head %}
        Little Moments Video Co.
      {% endblock %}
    </title>
    
    <link href="/css/site.css" rel="stylesheet" />
    {% block css %}
    {% endblock %}
    
    <script type="text/javascript" src="/js/jquery.js"> </script>
    <script type="text/javascript" src="/js/site.js"> </script>
    {% block js %}
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" href="/favicon.ico">
  </head>

  <body class="{% block bodyclass %}{% endblock %}">
    {% block content %}

    {% endblock %}
  </body>

</html>