{% extends 'projects.html' %}

{% block head %}
	Breathing Boardwalk
{% endblock %}

{% block video %}
	<iframe src="//player.vimeo.com/video/67110188" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
{% endblock %}

{% block date %}
	JAN 2013
{% endblock %}

{% block title %}
	Breathing Boardwalk
{% endblock %}

{% block description %}
	LMVC is a video production company dedicated to capturing the perfect moment. We use the latest technology to create artful & high quality videos for events, entertainment, & television.
{% endblock %}

{% block tags %}
	Short Film
{% endblock %}