{% extends 'projects.html' %}

{% block head %}
	Double Vision
{% endblock %}

{% block video %}
	<iframe src="//player.vimeo.com/video/24737480" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
{% endblock %}

{% block date %}
	OCT 2012
{% endblock %}

{% block title %}
	Double Vision
{% endblock %}

{% block description %}
	LMVC is a video production company dedicated to capturing the perfect moment. We use the latest technology to create artful & high quality videos for events, entertainment, & television.
{% endblock %}

{% block tags %}
	Short Film, Promotion
{% endblock %}