{% extends 'projects.html' %}

{% block head %}
	Pledge
{% endblock %}

{% block video %}
	<iframe src="//player.vimeo.com/video/17319326" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
{% endblock %}

{% block date %}
	APR 2012
{% endblock %}

{% block title %}
	Pledge - Call Me Mr. Bong
{% endblock %}

{% block description %}
	LMVC is a video production company dedicated to capturing the perfect moment. We use the latest technology to create artful & high quality videos for events, entertainment, & television.
{% endblock %}

{% block tags %}
	Music Video
{% endblock %}