{% extends 'projects.html' %}

{% block head %}
	Writer's Block
{% endblock %}

{% block video %}
	<iframe src="//player.vimeo.com/video/39312304" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
{% endblock %}

{% block date %}
	AUG 2010
{% endblock %}

{% block title %}
	Writer's Block
{% endblock %}

{% block description %}
	LMVC is a video production company dedicated to capturing the perfect moment. We use the latest technology to create artful & high quality videos for events, entertainment, & television.
{% endblock %}

{% block tags %}
	Short Films
{% endblock %}